@property --progress-value {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}
.progress-container{
  --animation-duration: 1s;
  display: flex;
  align-items: center;
  gap:0.25rem;

}
@keyframes animate-progress {
  to {
    --progress-value: var(--progress);
  }
}

.progress-bar {
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  /* to center the percentage value */
  align-items: center;
  background: linear-gradient(
    to right,
    #48c78e calc(var(--progress-value) * 1%),
    lightblue calc(var(--progress-value) * 1%)
  ); /* Filled part */

  animation: animate-progress var(--animation-duration) 1 forwards;
}
.progress-value::before {
  font-size: 1rem;
  color: aliceblue;
  counter-reset: percentage var(--progress-value);
  content: counter(percentage) "%";
  animation: animate-progress var(--animation-duration) 1 forwards;
}

.progress-bar > progress {
  visibility: hidden;
  width: 0;
  height: 0;
}
